Package                    Version
-------------------------- -----------
bendeep                    1.2
bert-extractive-summarizer 0.7.1
bnlp-toolkit               3.1.1
clipboard                  0.0.4
easygui                    0.98.2
gensim                     4.0.1
huggingface-hub            0.0.8
matplotlib                 3.4.2
nltk                       3.6.2
numpy                      1.18.5
pandas                     1.2.4
pip                        21.1.1
pyparsing                  2.4.7
pyperclip                  1.8.2
PySide2                    5.15.2
pytz                       2021.1
regex                      2021.4.4
scikit-learn               0.24.2
scipy                      1.6.3
sentencepiece              0.1.95
sklearn-crfsuite           0.3.6
spacy                      3.0.6
spacy-legacy               3.0.5
tokenizers                 0.10.3
torch                      1.8.1+cu102
torchaudio                 0.8.1
torchvision                0.9.1+cu102
tqdm                       4.61.0
transformers               4.6.1
wordcloud                  1.8.1

